* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 14px;
}

body {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 8fr 0.8fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

a {
    text-decoration: none;
}

header {
    grid-area: header;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    box-shadow: 0px 15px 10px -15px #000,
        0px 15px 10px -15px #000,
        0px 15px 10px -15px #000;
}

/* 别急 */
#bgImg {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

/* 顶部图片定位 */
#topMid {
    width: 58%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1vh;
}

/* 客服中心图标 */
#customLine {
    width: 1.9vw;
    height: 3.5vh;
}

#topRIght {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    text-align: center;
    margin-right: 1vw;
}

/* 顶部图标大小 */
#topLogo {
    width: 7vw;
    height: 5.4vh;
}

/* main区域位置 */
main {
    width: 100%;
    height: 100%;
    grid-area: main;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 登录创 */
#loginAre {
   background-color: #fff;
    border-radius: 2vw;
    width: 22vw;
    height: 45vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.25fr 1.1fr 1.65fr;
    grid-template-areas:
        "areT"
        "areM"
        "areB";
    padding: 0vh 2vw;
    margin-bottom: 10vh;
    transition: all 0.25s 0s ease-in;
}

/* 登录顶部 */
#title {
    grid-area: areT;
    color: #158FC5;
    font-size: 1.7rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 中间 */
#users {
    grid-area: areM;
}

#users input {
    width: 100%;
    height: 4.5vh;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0);
}

/* 底部按钮 */
#btns {
    grid-area: areB;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
        "sms"
        "loginBtn"
        "BiliBili"
    ;
}

#sms {
    grid-area: sms;
}

#logia {
    grid-area: loginBtn;
    background-color: #158FC5;
    color: #fff;
    border-radius: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#BiliBili {
    grid-area: BiliBili;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sms,
#BiliBili {
    color: #158FC5;
    font-size: 0.8rem;
}

/* 页面中间按钮 */
#confBtn {
    position: absolute;
    left: 46%;
    bottom: 20%;
}

#twoBtn {
    width: 8vw;
    height: 4vh;
    background-color: #fff;
    border-radius: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginBtn {
    color: #158FC5;
    font-size: 1.35rem;
    font-weight: bold;
}

#twoBtn>span:nth-child(2) {
    margin: 0 0.5vw;
    font-weight: bold;

}

#registerBtn {
    font-size: 1.25rem;
    font-weight: bold;
}

#loginBtn,
#registerBtn,
#logia {
    cursor: pointer;
}

/* footer区域位置 */
footer {
    height: 10vh;
    width: 100vw;
    background-color: #ff1;
}